<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>

    <style type="text/css" media="screen">
        .editor-test-1 {
            position: absolute;
            width: 1000px;
            height: 700px;
        }
        .modal-dialog {
            width: 1050px !important;
            height: 705px !important;
        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.7/ace.js"></script>

</head>

<body>
    
    <a href="https://github.com/cancerberoSgx/prettier-eslint-gallery">Project Home</a>

    <button type="button" class="btn btn-primary btn-lg edit-file-button">
        Edit file !
    </button>
    <button type="button" class="btn edit-file-get-value">
        get value
    </button>

    <div class="modal fade" id="editCodeModal" tabindex="-1" role="dialog" aria-labelledby="editCodeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="editCodeModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="editor-test-1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showEditCodeModal(config) {
            $.get(config.path).then(data => {
                var editor
                var target = $('.editor-test-1')
                if (!editor) {
                    editor = ace.edit(target.get(0))
                    editor.getSession().setMode('ace/mode/javascript')
                }
                editor.setValue(data)
                target.focus()
            })
            //TODO: not foundd
        }

        $('.edit-file-button').click(() => {
            $('#editCodeModal').modal({ show: true })
            showEditCodeModal({ fileName: 'pepe.js', path: '../assets/input/sccollection.js' })
        })
    </script>

    </script>
</body>

</html>